In [3]:
import pandas as  pd
import numpy as np
from cropseq import cfg

In [7]:
dts_file = cfg.resource("dataset.pickle")
df = pd.read_pickle(dts_file)
df.head()

,x,y,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,cubierta,land_usage
0,350608.882604,4.536886e+06,31,13,32,52,52,32,32,17,33,33,20,Suelo Desnudo,Bare soil
1,350490.619358,4.536925e+06,31,35,31,32,35,52,50,32,33,52,20,Suelo Desnudo,Bare soil
2,350226.013907,4.526511e+06,120,31,120,120,120,204,120,50,20,120,201,Matorral,Scrub
3,353276.688983,4.528004e+06,32,35,50,35,35,35,33,4,33,20,33,Centeno,Rye
4,351248.336558,4.528920e+06,35,50,32,50,31,50,32,50,33,20,32,Cebada,Barley

In [ ]:
Analizar el a√±o 2021
Number of categories per year
Number of points